<div id="container">
    <div class="card" style="width: 18rem;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgChXCyfA2w2sJ4K1yTXHvHRop6RuJ1n7y9c64WL6W3RVeP5OBY6221fdMmiQnjS9GA_k&usqp=CAU"
        class ="card-img-top" alt="food">
        <div class="card-body">
          <h5 class="card-title">Whats For Dinner?</h5>
          <p class="card-text">
        Let Us Know What You Have Left In Your Fridge And We Will Find A Recipe For You</p>
          <a href="#" class="btn btn-primary">Recipe List</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="https://www.corporatephotographylondon.com/wp-content/uploads/2019/11/HKstrategies-1713-1024x683.jpg" 
        class="card-img-top" alt="Team Member">
        <div class="card-body">
          <h5 class="card-title">Meet Our Team</h5>
          <p class="card-text">Learn About Us<br> Meet the Team</p>
          <a href="#" class="btn btn-primary">About Us</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="https://www.shutterstock.com/image-photo/food-feast-around-world-black-260nw-2275785943.jpg" 
        class="card-img-top" alt="Random Dish">
        <div class="card-body">
          <h5 class="card-title">Testimonials</h5>
          <p class="card-text">Read Reviews From The People Who Have Used Our Service<br>
          Don't Take Our Word. Take Theirs</p>
          <a href="#" class="btn btn-primary">Testimonials</a>
        </div>
      </div>
</div>

<style>
    #container { 
       display:grid;
       grid-template-columns: 1fr 1fr 1fr;
       grid-template-rows: 1fr;
       max-width: 960px;
       margin:auto;
       margin-bottom: 0;
       background-color:white; }

      
     
    

       </style>